<!doctype html>
<html lang="zh-CN">
    <body>
        <div class="atlas-root atlas-top-header">
            <div class="header-left">
                <div class="header-left-wrap">
                    <a class="console-name" id="atlas-link-console">
                        <span class="console-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
                                <rect x="2" y="2" width="9" height="9" rx="1.2" />
                                <rect x="13" y="2" width="9" height="9" rx="1.2" />
                                <rect x="2" y="13" width="9" height="9" rx="1.2" />
                                <rect x="13" y="13" width="9" height="9" rx="1.2" />
                            </svg>
                        </span>
                        <span class="console-text">控制台</span>
                    </a>
                </div>
            </div>

            <div class="header-right">
                <span id="atlas-header-date"></span>
                <span>欢迎您，<span id="atlas-header-username"></span></span>
                <button class="link-btn" id="atlas-btn-usercenter">个人信息</button>
                <button class="link-btn" id="atlas-btn-logout">退出登录</button>
            </div>
        </div>
    </body>
</html>
